@use '../../../App.scss' as main;
@use './keyframes.scss' as line;

.AutomneBi {
  width: 100%;
  height: 100%;
  aspect-ratio: 1440/420;
  @include main.flex(center, center, 0);

  .container {
    @include main.flex(center, center, 0);
    flex-direction: column;
  }

  .logo {
    //width: 12.5%;
    width: 30%;
  }

  b {
    font-family: 'Libre Baskerville';
    @include main.font(2.4rem, 400, main.$base);
    margin-top: 30px;
    user-select: none;
  }

  p {
    margin-top: 30px;
    @include main.font(1.6rem, 400, main.$base);
    line-height: 162%;
    user-select: none;

    &:last-child {
      margin-top: 0;
    }
  }
}
