@use '../../../App.scss' as ct;

.CartItem {
  @include ct.flex(start, stretch, 0);
  margin-bottom: 20px;
  width: 100%;
  aspect-ratio: 1087/255;
  background-color: #fff;

  .itemleft-Img {
    width: 23.5%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .itemRight {
    width: 76%;
    padding: 10px 30px;
    @include ct.flex(space-between, start, 0);
    flex-direction: column;

    .top {
      width: 100%;
      @include ct.flex(space-between, center, 0);
      margin-bottom: 30px;
      flex-grow: 1;

      .itemNO {
        @include ct.font(1.4rem, 400, ct.$text-666);
      }
      .icon {
        width: 24px;
        aspect-ratio: 1/1;
        background: url('../../../../public/assets/icon/delete.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .title {
      @include ct.font(clamp(1.6rem, 2.2rem, 2.4rem), 500, ct.$base);
      @include ct.text-ellipsis();
      width: 100%;
    }

    .bottom {
      @include ct.flex(space-between, end, 0);
      flex-grow: 3;
      width: 100%;
      .countBtn {
        @include ct.flex(start, center, 0);

        button {
          width: 36px;
          aspect-ratio: 1/1;
          border: 1px solid ct.$text-bbb;
          @include ct.flex(center, center, 0);
          @include ct.font(1.4rem, 400, ct.$text-bbb);
        }

        span {
          padding: 0 16px;
          @include ct.font(1.4rem, 400, ct.$base);
        }
      }
      .price {
        @include ct.font(2.2rem, 600, ct.$base);
      }
    }
  }
}
