@use '../../../App.scss' as pay;

.Payment-wrap {
  display: flex;
  margin-top: 80px;
  background-color: #f5f5f5;
}

.payment-left {
  flex: 0 0 70%;
  padding: 40px 60px;

  .payment-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    > p {
      @include pay.font(2.2rem, 500, pay.$base);
    }

    > ul {
      display: flex;

      li:last-child {
        @include pay.font(1.8rem, 500, pay.$base);
      }

      li:first-child,
      li:nth-child(2) {
        @include pay.font(1.8rem, 500, pay.$text-bbb);
      }
    }
  }

  .select-payment {
    padding: 40px;
    background-color: #fff;

    h4 {
      @include pay.font(1.8rem, 600, pay.$base);
      padding-bottom: 30px;
    }
  }
}

.payment-box {
  width: 100%;
}

.payment-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 60px;

  .payment-icon {
    width: 100%;
    aspect-ratio: 320/190;
    border: 2px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: border-color 0.3s;

    &.active {
      border-color: pay.$base;
      background-color: rgba(0, 0, 0, 0.02);
    }

    p {
      @include pay.font(1.6rem, 500, pay.$base);
      text-align: center;
      margin: 0;
    }
  }
}

.payment-btn {
  @include pay.flex(center, stretch, 20px);
  .miu-btn {
    aspect-ratio: 700 / 60;

    &:nth-child(1) {
      @include pay.font(1.6rem, 600, pay.$base);
      width: 20%;
      border: 1px solid pay.$base;
      background-color: #fff;

      &:hover {
        background: pay.$line-f4;
      }
    }

    &:nth-child(2) {
      @include pay.font(1.6rem, 600, #fff);
      width: 80%;
      border: 1px solid pay.$base;
      background-color: pay.$base;

      &:hover {
        background-color: pay.$text-333;
      }
    }
  }
}
