@use '../../../App.scss' as popup;

.wish-delete-backdrop {
  position: fixed;
  inset: 0;
  @include popup.modalBack();

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; // 맨 앞에
}

// 팝업 박스
.wish-delete-modal {
  background: #fff;
  padding: 6rem 6rem 4rem 6rem;
  min-width: 32rem;
  border-radius: 1.2rem;
  text-align: center;
  width: 44rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2);

  p {
    @include popup.font(1.6rem, 500, popup.$base);
    line-height: 140%;
  }

  .btn-area {
    margin-top: 3rem;
    display: flex;
    gap: 2%;
    justify-content: center;

    button {
      padding: 1.3rem 1.6rem;
      width: 35%;
      border: 1px solid popup.$base;
      background: #fff;
      cursor: pointer;
      @include popup.font(1.4rem, 500, popup.$base);
    }

    .btn-delete {
      background: popup.$base;
      color: #fff;
      border-color: popup.$base;
    }
  }
}
