@use '../../../../App.scss' as at;

.address-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: at.$base;
  border-top: 1px solid at.$line-ddd;
  border-bottom: 1px solid at.$line-ddd;

  tr:first-child {
    background-color: at.$line-f4;
    height: 6rem;
    border-bottom: 1px solid at.$line-ddd;

    th {
      text-align: center;
      padding: 0 10px;
      @include at.font(1.8rem, 400, at.$text-333);

      &:nth-child(1) {
        width: 20%;
      }
      &:nth-child(2) {
        width: 30%;
      }
      &:nth-child(3) {
        width: 70%;
      }
    }
  }

  tr:last-child {
    height: 10.5rem;
    @include at.font(1.8rem, 400, at.$base);

    td {
      text-align: center;
      padding: 40px 40px;

      &:nth-child(3) {
        text-align: left;
        @include at.flex(space-between, center, auto);

        span {
          @include at.font(1.8rem, 400, at.$base);
        }

        div {
          button {
            @include at.font(1.4rem, 500, at.$base);
            padding: 10px 16px;
            border: 1px solid at.$base;
            width: 8rem;
            height: 3.6rem;

            &:first-child {
              margin-right: 10px;
            }

            &:hover {
              background: at.$line-f4;
            }
          }
        }
      }
    }
  }
}
