@use '../../../../App.scss' as mn;

.mypageNav {
  position: sticky;
  width: 100%;
  background-color: #fff;
  margin-bottom: 80px;
  top: 80px;
  z-index: 998;
  border-bottom: 1px solid mn.$line-ddd;

  .nav-inner {
    width: 1440px;
    line-height: 8rem;
    margin: 0 auto;

    ul {
      display: flex;
      height: 100%;

      li {
        @include mn.font(1.8rem, 500, mn.$base);
        flex: 1;
        text-align: center;
        cursor: pointer;

        button {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          background: none;
          border: none;
          padding: 0;

          &::after {
            content: '';
            display: block;
            width: 0%;
            height: 3px;
            background: mn.$base;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &.active button::after {
          width: 100%;
        }
      }
    }
  }
}
