@use '../../../App.scss' as fo;

footer {
  background-color: #f4f4f4;
  padding: 80px 0;
  .inner {
    .footer-top {
      @include fo.flex(space-between, flex-start, 0);
      margin-bottom: 80px;
      .footer-logo {
        width: 30%;
      }
      .footer-right {
        @include fo.flex(flex-start, flex-start, 110px);
        .menu-box {
          ul {
            display: flex;
            gap: 30px;
            :nth-child(4)::after {
              display: none;
            }
            li {
              position: relative;
              &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0.1rem;
                height: 1.4rem;
                background-color: #ccc;
              }

              .link {
                display: block;
                @include fo.font(1.4rem, 400, #000);
                line-height: 60px;
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      @include fo.font(1.2rem, 400, #666);
      border-top: 1px solid #e3e3e3;
      address {
        font-style: normal;
        padding: 30px 0;
        line-height: 20px;
      }
    }
  }
}
