@use '../../../App.scss' as msg;

.Modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  @include msg.flex(center, center, 0);
  @include msg.modalBack();
  z-index: 999999;

  .Modal-wrap {
    width: 70%;
    aspect-ratio: 2/1;
    background: #fff;
    position: relative;
    overflow: hidden;

    .bg {
      background: #f4f4f4;
    }

    .text-center {
      text-align: center;
    }

    .keep-all {
      word-break: keep-all;
    }

    .text-top {
      vertical-align: text-top;
    }

    .border {
      border: 1px solid #c4c4c4;
    }

    .bold {
      @include msg.font(1.6rem !important, 500 !important, msg.$text-333 !important);
    }

    .mb {
      margin-bottom: 10px !important;
    }

    .top {
      padding: 30px;
      @include msg.flex(space-between, center, 0);
      width: 100%;
      position: absolute;
      top: 0;
      background: #fff;

      span {
        @include msg.font(2.2rem, 500, msg.$base);
      }

      button {
        width: 24px;
        aspect-ratio: 1/1;
        background: url(../../../../public/assets/icon/close.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .info {
      margin-top: 100px;
      padding: 0px 60px 50px 60px;
      height: -webkit-fill-available;
      overflow: auto;
      line-height: 200%;

      b {
        @include msg.font(2.6rem, 600, msg.$base);
        margin-bottom: 30px;
        display: inline-block;
      }
      ul {
        margin-bottom: 40px;

        ol {
          padding-left: 16px;
          list-style: circle;
          margin: 8px 0;

          li {
            line-height: 180%;
          }
        }
      }

      .title {
        @include msg.font(1.8rem, 500, msg.$text-333);
        letter-spacing: -0.2px;
        margin-bottom: 8px;
      }

      li {
        @include msg.font(1.4rem, 400, msg.$text-333);
        letter-spacing: -0.2px;
        line-height: 160%;
      }
    }

    .sub-list {
      padding: 12px 8px;
      margin-bottom: 0 !important;

      .box {
        padding: 12px;
        background: #ededed;
      }

      li {
      }
    }

    .upDate {
      text-align: end;
      @include msg.font(1.4rem, 400, msg.$base);
    }
  }

  //TODO 테이블
  .PrivacyPolicy_1 {
    width: 100%;
    margin-bottom: 30px;

    thead {
      background: #f4f4f4;
      @include msg.font(1.4rem, 400, msg.$text-333);
      tr th {
        padding: 12px 16px;
      }
    }

    tbody {
      tr {
        td {
          @include msg.font(1.4rem, 400, msg.$text-333);
          padding: 12px 16px;
          text-align: center;
        }
      }
    }
  }

  .PrivacyPolicy_2 {
    margin: 8px 0;
    width: 100%;

    thead {
      background: #f4f4f4;
      @include msg.font(1.4rem, 400, msg.$text-333);
      tr th {
        padding: 12px 16px;
      }
    }

    tbody tr td {
      width: 16%;
      text-align: center;
      @include msg.font(1.4rem, 400, msg.$text-333);
      padding: 12px;
    }
  }

  .PrivacyPolicy_3 {
    width: 100%;
    border: 1px solid #c4c4c4;

    tr {
      border-bottom: 1px solid #c4c4c4;

      th {
        width: 200px;
        background: #f4f4f4;
        border-left: 1px solid #c4c4c4;
        border-right: 1px solid #c4c4c4;
        padding: 12px 16px;
        @include msg.font(1.4rem, 500, msg.$text-333);
      }

      td {
        padding: 12px 16px;
        @include msg.font(1.4rem, 400, msg.$text-333);
      }
    }
  }

  .PrivacyPolicy_4 {
    width: 100%;

    tbody {
      border: 1px solid #c4c4c4;

      tr {
        border-bottom: 1px solid #c4c4c4;

        th {
          width: 200px;
          background: #f4f4f4;
          border-left: 1px solid #c4c4c4;
          border-right: 1px solid #c4c4c4;
          padding: 12px 16px;
          @include msg.font(1.4rem, 500, msg.$text-333);
          word-break: keep-all;
        }

        td {
          width: auto;
          word-break: break-all;
          padding: 12px 16px;
          @include msg.font(1.4rem, 400, msg.$text-333);

          &.section {
            vertical-align: text-top;
          }
        }
      }
    }
  }
}
