@use '../../../App.scss' as pd;
@use '../../Home/scss/keyframes.scss';

.ProductListSkeleton {
  max-width: 2400px;
  margin: 0 auto;
  .inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4px;

    .box {
      aspect-ratio: 447/595;
      min-width: 240px;
      background-color: pd.$skeleton;
      animation: shine 1s infinite linear;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          transparent 0%,
          rgba(255, 255, 255, 0.6) 20%,
          transparent 40%
        );
        background-size: 200% 100%;
        animation: shine 1.5s infinite linear;
      }

      .img {
        width: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
}
